* {
    margin: 0;
    padding: 0;
}

.layout-login-header {
    border-bottom: 1px solid #2866b1 ;
}

.navbar-help {
    justify-content: end;
}

.help {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}