.header-taytrangrang{
    width: 100%;
    height: 25px;
    background-color: cornflowerblue;
}
.header-taytrangrang-p{
    color: white;
    padding-left: 20px;
    font-weight: 500;
    font-size: 14px;
}
.header-taytrangrang-dau{
    padding: 3px 5px 3px 3px;
}
.section-taytrangrang{
    padding-top: 10px;
}
.section-taytrangrang-left{
    padding-left: 40px;
    padding-top: 10px;
}
.section-taytrangrang-left-h2{
    color: darkslateblue;
    font-size: 36px;
    font-weight: 600;
}
.section-taytrangrang-left-p{
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    
}
.section-taytrangrang-left-tin-left{
    width: 400px;
    height: 450px;
    display: block;
    margin: auto;
    padding: auto;
    border-radius: 15px;
    box-shadow: -10px -10px 10px rgba(255,255,255,0.4),10px 10px 10px rgba(0,0,0,0.1);
    text-decoration: none;
}
.section-taytrangrang-left-tin-left:hover{
    border-radius: 15px;
    box-shadow: -25px -25px 25px rgba(255,255,255,0.2),25px 25px 25px rgba(0,0,0,0.1);
    transition:0.2s;
}
.section-taytrangrang-left-img{
    width: 100%;
    height: auto;
}
.section-taytrangrang-left-img-maccaisu{
    width: 100%;
    height: 8%;
}
.section-taytrangrang-left-text-h5{
    padding-top: 10px;
    font-size: 18px;
}
.section-taytrangrang-left-text-li{
    margin-left: 13px;
}
.section-taytrangrang-left-text-h6-chiase{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
.section-taytrangrang-left-text-icon{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.section-taytrangrang-left-text-icon-fa{
    padding-left: 5px;
    font-size: 32px;
    color: blue;
}
.section-taytrangrang-left-btn{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}
.section-taytrangrang-left-text-btn{
    margin-left: 3%;
    width: 40%;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    background-color: blueviolet;
    color: wheat;    
}
.section-taytrangrang-left-text-btn:hover{
    transition: 1s;
    background-color: rgb(57, 21, 91);
}
.section-taytrangrang-left-text-noidung{
    padding-top: 30px;
}
.section-taytrangrang-left-text-noidumg-h3{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: blue;
}
.section-taytrangrang-right{
    padding-top: 70px;
    justify-content: left;
}
.section-taytrangrang-right-h4{
    font-size: 22px;
    color: darkmagenta;
    font-weight: 700;
}
.section-taytrangrang-right-dichvu{
    padding-top: 35px;
   
}
.section-taytrangrang-right-dichvu-h5
{
    font-size: 18px;
    margin-top: 20px;
    font-size: 18px;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0 10px 10px;
    border-left: 1.6px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section-taytrangrang-right-dichvu-h5:hover{
    color: blueviolet;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0 10px 10px;
    border-left: 1.6px solid blue;
}
.section-taytrangrang-left-tin-left-img{
    width: 350px;
    height: 200px;
}
.section-taytrangrang-left-tin-left-h3{
    padding-top: 30px;
    padding-left: 10px;
    font-size: 22px;
    color: darkmagenta;
    font-weight: 700;
}
.section-taytrangrang-left-tin-left-p{
    padding-top: 30px;
    padding-left: 10px;
    font-size: 16px;
}
.section-taytrangrang-left-tin-left-btn{
    margin-left: 10px;
    margin-top: 15px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    background-color: white;
}
@media only screen and (max-width: 390px){
    .section-bocsu-left-tin-left{
        width: 350px;
        height: auto;
        margin-top: 15px;
    }   
    .section-bocsu-left-h2{
        font-size: 26px;
    }
    .section-bocsu-left-p{
        font-weight: 500;
    }
    .section-bocsu-left-tin-left-img{
        width: 340px;
    }
    .section-bocsu-right{
        width: 380px;
    }
    .section-bocsu-right-h4{
        font-size: 20px;
        text-align: center;
    }
    .section-bocsu-right-dichvu-h5{
        margin-left: 30px;
        font-size: 16px;

    }
    
}