* {
    margin: 0;
    padding: 0;
}

.alert_error {
    opacity: 1;
    z-index: 50;
    position: absolute;
}

.calendar-day-register textarea {
    border: 1px solid #2866b1;
}

.calendar-day-register input {
    border: 1px solid #2866b1;
}

.hotline-link::after {
    background-color: green;
}

.hotline-link {
    background-color: #2866b1;
    text-decoration: none;
    color: white;
    width: 80%;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}

.hotline {
    display: flex;
    align-items: center;
    justify-content: center;
}



:where(.css-dev-only-do-not-override-10ed4xt).ant-form-vertical .ant-form-item-label>label {
    color: #198754;
}

.btn-calendar button:hover {
    color: white;
    background-color: #5b81af;
}

.btn-calendar button {
    background-color: #2866b1;
    color: white;
    margin: 0 10px;
}

.btn-calendar {
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-body {
    padding-bottom: 32px;
}

.calendar-days-form-title {
    color: #2866b1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-days-form {
    border: 1px solid #2866b1;
    width: 100%;
    padding: 15px 20px 10px 20px;
}

.waiting-item li {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
    color: gray;
}

.waiting {
    color: #2866b1;
    padding: 0 0 0 4%;
    margin-bottom: 13%;
}

.modal-dialog {
    --bs-modal-width: 80%;
    color: #2866b1;
}

.modal-calendar-day {
    display: flex;
    align-items: center;
}

.modal-calendar-title {
    /* width: 45%; */
}

.calendar-day-register {
    /* width: 55%; */
    padding: 0 18px 0 32px;
}
