.container {
    height: 350px;
    margin-top: 100px;
}
.imgs_left_img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.text-section{
    margin-top: 30px;
    font-size: larger;
}
.text-section-h4{
    color: cadetblue;
    font-size: 18px;
}
.text-section-p{
    color: cadetblue;
    font-size: 14px;
}
.part-news{
    background: aqua;
}
.part-news-imgs-1{
    width: 600px;
    height: 500px;
    padding-left: 10px;
    border-radius: 50%  30px 5px 5px;
}
.part-news-text{
    padding-top: 50px;
}
.part-news-text-img{
    width: 50px;
    height: auto;
}
.part-news-text-h4{
    padding: 10px;
    font-weight: bold;
    color: cornflowerblue;
    font-size: 24px;
}
.part-news-text-p{
    padding: 10px;
     font-style: italic;
}
.part-service{
    padding-top: 10px;
}
.part-servie {
    padding-top: 10px;
}
.part-servie-h1{
    text-align: center;
}

.part-service-left{
   
    width: 350px;
    height: 370px;
    background: rgb(222, 213, 221);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.part-service-left-imgs{
   width: 300px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.part-service-left-text-p{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    color:deepskyblue;
}
.part-service-left-btn{
    margin-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(56, 43, 240);
    border: none;
    color: aliceblue;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.part-service-left-btn:hover {
    cursor: pointer;
    background-color: rgb(214, 24, 201) ;
    transition: 0.3s;
}
 .section-datlich{
    margin-top: 20px;
    background-color: aqua;
    height: 550px;
    border-radius: 140px 5px;
 }
 .section-datlich-left{
  padding: 20px;
  margin-left: 10px;
    
 }
.section-datlich-left-h2{
    font-size: 47px ;
    margin-top: 10px;
    margin-left: 10px;
    color: blueviolet;
    font-weight:700
}
.section-datlich-left-p{
    margin-top: 50px;
    margin-left: 10px;
    font-size: 18px;
    color: blueviolet;
}
.section-datlich-left-btn
{
    margin-left: 30px;
    margin-top: 100px;
    width: 230px;
    height: 60px;
    border: none;
    background-color: darkslategrey;
    border-radius: 20px 20px;
    font-size: 20px;
    color: blueviolet;
}
.section-datlich-right-btn{
    background-color: white;
    border:1in;
}
.section-datlich-left-btn-icon{
    padding-right: 20px;
}
.section-datlich-left-btn:hover{
    background-color:cadetblue;
}
.section-datlich-right{
    margin-left: 20px;
}
.section-datlich-right-img{
    width: 600px;
    height: auto;
    border-radius: 10px 5px;
}
.section-datlich-right-h1{
    font-size: 40px;
    margin-top: 10px;
    margin-left: 50px;
    color: blueviolet;
}
.section-information{
    margin-top: 5px;
}
.section-information-col{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.section-information-col-imgs
{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.section-information-col-h3{
   text-align: center;
   font-size: 34px;
   padding-top: 15px;
}
.section-information-col-p
{
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}
@media only screen and (max-width: 390px){
   .sectiopn-information-clinic{
   margin-top: -100px;
    
   } 
   .part-news{
    margin-top: 700px;
    height: 200px;
   }
   .part-news-imgs-1{
    width: 350px;
    height: 180px;
    margin-top: -40px;
    border-radius: 20px;
   }
   .part-news-text{
    display: none;
   }
   .part-servie-h1{
   border-bottom: 2px solid blue;
   padding-bottom: 10px;
    }
    .part-service-left
    {
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        margin-top: 20px;
    }
    .section-datlich{
        background: white;
    }
    .section-datlich-left-h2{
        font-size: 30px;
        text-align: center;
    }
    .section-datlich-left-p{
        font-size: 16px;
        color: black;
        font-weight: 500;
        margin-top: -1px;
    }
    .section-datlich-left-btn{
        width: 130px;
        height: 40px;
        font-size: 16px;
       margin-top: -1px;
        border: 1px solid #b1154a;
    }
    .section-datlich-right-img{
        display: none;
    }
    .section-datlich-right-h1{
        font-size: 24px;
    }
    .section-information-col{
        width: 150px;
    }
    .section-information-col-h3{
        font-size: 30px;
    }
    .section-information-col-p{
        font-weight: 550;
        font-size: 14px;
    }
}