.footer {
    height: 350px;
    background-color: rgb(90, 82, 195);
   
}

.time-work a {
    text-decoration: none;
}

.section-information-row {
    padding-top: 50px;
}
.col-md-4{
    text-align: left;
}
.section-footer-cool-left-h4{
    color: rgb(230, 235, 240);
    font-size: 28px;
    padding-top: 10px;
    font-family: Arial white Gadget;
}
.section-footer-cool-left-p{
    font-size: 18px;
    color: rgb(230, 235, 240);
    font-family: Arial white Gadget;
    padding-top: 5px;
}
.section-footer-cool-center-h4{
    font-size: 28px;
    color: rgb(230, 235, 240);
    font-family: Arial white Gadget;
    padding-top: 5px;
}
.section-footer-cool-center-p{
    font-size: 18px;
    color: rgb(230, 235, 240);
    font-family: Arial white Gadget;
    padding-top: 5px;
}
.section-footer-cool-center-icon{
    font-size: 30px;
    color: rgb(230, 235, 240);
    padding-left: 10px;
}
.section-footer-cool-right-h4{
    color: rgb(230, 235, 240);
    font-size: 26px;
    padding-top: 5px;
    font-family: Arial white Gadget;
}
.section-footer-cool-right-p{
    font-size: 18px;
    color: rgb(230, 235, 240);
    font-family: Arial white Gadget;
}
@media only screen and (max-width: 390px){
    .footer{
        height: 800px;
    }
}