.footer{
    background: #6A5ACD;
    padding: 70px;
    margin-top: 50px;
}
.container-footer{
    max-width: 100%;
    margin: auto;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col .footer-col-h{
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
}
.footer-col .footer-col-h::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: red;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col .footer-col-ul{
    list-style: none;
}
.footer-col .footer-col-ul .footer-col-li{
    font-size: 14px;
    color: #fff;
    display: block;
    padding-top: 3px;
}
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:567px){
    .footer-col{
        width: 100%;
    }
}