.login-body
{
  width: 100%;
  min-height: 50vh;
  /* background-color: #f2f3f5; */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.login{
  padding: 30px 45px;
  background-color: #4e4392		;
  width: 100%;
  max-width: 450px;
  border-radius: 30px;
}
.login-title-h2{
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  text-align: center;
 width: 350px;
  
}
.login-label{
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
  width: 300px;
}

.login-title {
  margin-bottom: 24px;
}

.login-form {
  text-align: center;
}
.login-create-now{
  width: 400px;
}
.login-create-now-h6
{
  display: flex;
}
.login-create-now-p{
  color: red;
  margin-left: 10px;
}
.login-error{
  width: 300px;
  font-size: 14px;
  color: red;
}