.login-body
{
  width: 100%;
  min-height: 50vh;
  background-color: #f2f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.login{
  padding: 30px 45px;
  background-color: #fff;
  width: 100%;
  max-width: 450px;
  border-radius: 30px;
}
.login-title-h2{
  font-size: 28px;
  font-weight: bold;
  color: #515ee9;
  text-align: center;
 width: 350px;
  
}
.login-label{
  font-size: 16px;
  color: #515ee9;
  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
  width: 300px;
}
.login-input{
  display: block;
  height: 25px;
  width: 350px;
  padding: 25px;
  border-radius: 14px;
  background-color: #f2f3f5;
  outline: none;
  border: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}
.login-btn{
  
  color: white;
  font-size: 18px;
  text-align: center;
  border: 0;
  outline: none;
  display: inline-block;
  width: 350px;
  height: 50px;
  border-radius: 14px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 5px 10px 0 rgba(130, 201, 30, 0.5);
  margin-top: 25px;
  margin-bottom: 25px;
}
.login-create-now{
  display: flex;
  width: 400px;
}
.login-error{
  width: 300px;
  font-size: 14px;
  color: red;
}