* {
  margin: 0;
  padding: 0;
}

.login-create-now {
  margin-top: 15px;
}

.login-title {
  margin-bottom: 24px;
}

.login-form {
  text-align: center;
}

.login {
  align-items: center;
  min-height: 85vh;
  justify-content: center;
  background-color: #2866b1;
}