* {
    margin: 0;
    padding: 0;
}

.row-info {
    min-height: 280px;
}

.navbar-info {
    border-right: 1px solid #2866b1;
}

.container-info {
    padding: 20px 80px ;
}

.user-info {
    margin-top: 100px;
}

