* {
    margin: 0;
    padding: 0;
}

.show-info {
    padding: 5px 30px;
}

.list-skill {
    padding: 5px 15px;
}

.row-info {
    min-height: 280px;
    background-color: #efeff1;
    padding: 20px 0;
    color: #2866b1;
}

.navbar-info {
    border-right: 1px solid #2866b1;
}

.container-info {
    padding: 20px 80px ;
}

.user-info {
    margin-top: 100px;
}

