* {
    margin: 0;
    padding: 0;
}

.info:focus {
    color: black;
}

.navbar-header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 4;
    background-color: white;
}

.help {
    width: 20%;
}

.help a {
    color: blue;
    text-decoration: revert;
}

.onli:hover {
    background-color: rgb(69, 56, 246);transition: 0.3s;
    color: white;
}

.onli {
    background-color: #2866b1;
    color: black;
}

.dropdown-item {
    font-size: 14px;
    font-weight: 600;
    font-family: Times New Roman;
}

.info:hover {
    background: none;
    border: none;
    color: black;
}

.info {
    background: none;
    border: none;
    color: black;
    font-family: Times New Roman;
}

.calendar-days {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.collapse {
    align-items: center;
}

.btn.show {
    background: none;
    border: none;
}

button#dropdown-basic:active {
    background: no-repeat;
    border: none;
    color: black;
}

.calendar-days button {
    background-color: initial;
    border: none;
    color: #2866b1;
    font-size: 1.2rem;
    border: 1px solid #2866b1;
    padding: 8px;
    border-radius: 17%;
}

.calendar-days button:hover {
    background-color: rgb(69, 56, 246);transition: 2s;
    color: white;
    border: 1px px solid #2866b1;
}

.calendar-days span {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}