* {
    margin: 0;
    padding: 0;
}

.list-skill a:active {
    background-color: gray;
}

.list-skill div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.list-skill a {
    width: 65%;
    /* text-align: center; */
    padding: 10px 0 5px 35px;
    border-bottom: 1px solid #2866b1;
    font-size: 1rem;
    font-style: inherit;
}