* {
    margin: 0;
    padding: 0;
}

.list-skill a:active {
    background-color: gray;
}

.list-skill div {
    display: flex;
    align-items: center;
    justify-content: end;
}
.list-skill a {
    width: 65%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid gray;
}